body {
    background-color: white;
    font-family: "Arial";
}

h1 {
    color: lightblack;
    text-align: center;
}

p {
    font-size: 20px;
}

ul.a {
    list-style-type: circle;
}

img.center {
    display: block;
    margin: 0 auto;
    background-color: green;
    padding-right: 50%;
    padding-left: 40%;
}
