<!-- Content section-->
{% for section in site.content %}
    <section id="{{ section.key }}" class="{% if section.light == true %}bg-light-white{% else %}bg-light-gray{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ section.title }}</h2>
                    <h3 class="section-subheading text-muted">{{ section.subtitle }}</h3>
                </div>
            </div>
            <div class="row">
            {% for item in section.items %}
                <div id="{{ item.title }}"
                     class="col-md-4 col-sm-6 portfolio-item">
                    <a href="{{ item.link ? item.docs }}" class="portfolio-link {% if section.light == true %}bg-light-gray{% else %}bg-light-white{% endif %}" data-toggle="modal">
                        <div class="portfolio-hover"></div>
                        <img src="img/{{ section.key }}/{{ item.title }}.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption {% if section.light == true %}bg-light-gray{% else %}bg-light-white{% endif %}">
                        <div class="row">
                            <h4>{{ item.title }}</h4>
                            <a href="{{ item.docs }}">
                                <i class="fa fa-book fa-2x"></i>
                            </a>
                            <a href="{{ item.repo }}">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="row">
                            <p class="text-muted">{{ item.subtitle }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
