<!-- Contribute Section -->
<section id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% include translate.html key='contribute' %}</h2>
                <h3 class="section-subheading text-muted">{% include translate.html key='contribute-desc' %}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <a href="https://github.com/fpgawars">
                  <span class="fa-stack fa-3x">
                      <i class="fa fa-github fa-stack-2x"></i>
                  </span>
                  <h4 class="service-heading">GitHub</h4>
                </a>
            </div>
            <div class="col-md-6">
                <a href="https://groups.google.com/forum/#!forum/fpga-wars-explorando-el-lado-libre">
                  <span class="fa-stack fa-3x">
                      <i class="fa fa-google fa-stack-2x"></i>
                  </span>
                  <h4 class="service-heading">{% include translate.html key='google-group' %}</h4>
                </a>
            </div>
        </div>
    </div>
</section>
