<!-- Footer Section -->
<footer class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyleft">Copyleft <span class="invert">&copy;</span> {{ site.title }} 2016-{{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks" style="cursor:pointer;">
                    <li>
                      <a id="lang-en">EN</a>
                    </li>
                    <li>
                      <a id="lang-es">ES</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
